<meta name="viewport" content="width=device-width, initial-scale=1">
<nav>
  <div class="flex-layout">
    <div>
      <label class="roomBookingTitle">Room Booking</label>
    </div>
    <div class="dropdown">
      <label class="menu-label">Calendar</label>
    </div>
    <div class="dropdown">
      <input type="checkbox" id="checkbox_toggle">
      <label for="checkbox_toggle" class="menu-label">Admin</label>
      <ul>
          <li><a href="#">Rooms</a></li>
          <li><a href="#">Users</a></li>
      </ul>
    </div>
  </div>
</nav>