<meta name="viewport" content="width=device-width, initial-scale=1">
<nav>
  <div class="flex-layout">
    <div>
      <label class="roomBookingTitle"><a (click)="navigateToHome()">Room Booking</a></label>
    </div>
    <div class="dropdown">
      <label class="menu-label" (click)="navigateToCalendar()">Calendar</label>
    </div>
    <div class="dropdown">
      <input type="checkbox" id="checkbox_toggle">
      <label for="checkbox_toggle" class="menu-label"><a href="#">Admin</a></label>
      <ul>
          <li><a (click)="navigateToRoomsAdmin()">Rooms</a></li>
          <li><a (click)="navigateToUsersAdmin()">Users</a></li>
      </ul>
    </div>
  </div>
</nav>